@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root{
    --hotel-primary: #0f2a4a; 
    --hotel-accent: #e69b3c; /* Màu vàng đồng nóng */
    --hotel-bg-body: #f4f6f8;
    --hotel-bg-card: #ffffff;
    --hotel-text-main: #1a1a1a;    /* Tiêu đề, giá tiền */
    --hotel-text-body: #4a4a4a;    /* Mô tả nội dung */
    --hotel-text-muted: #8c8c8c;   /* Ngày tháng, icon phụ */
    --hotel-success: #22c55e;      /* Còn phòng */
    --hotel-error: #ef4444;       /* Hết phòng / Lỗi */
}

body {
    font-family: 'Roboto', sans-serif;
}